In [1]:
%endpoint https://sparql.uniprot.org/sparql
%format JSON

Endpoint set to: https://sparql.uniprot.org/sparql
Return format: JSON

Q1

In [ ]:
PREFIX up:<http://purl.uniprot.org/core/> 

SELECT (COUNT (DISTINCT ?protein) AS ?prot_count)
WHERE 
{
	?protein a up:Protein .
}

Q2

In [11]:
PREFIX up:<http://purl.uniprot.org/core/> 
PREFIX taxon:<http://purl.uniprot.org/taxonomy/> 

SELECT (COUNT(DISTINCT ?protein) AS ?prot_count)
WHERE 
{
	?protein a up:Protein .
	?protein up:organism taxon:3702 .
}

count
136782

Q3

In [9]:
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
PREFIX up: <http://purl.uniprot.org/core/>

SELECT ?image

WHERE
{
  ?taxon a up:Taxon .
  ?taxon up:scientificName "Arabidopsis thaliana" . 
  ?taxon foaf:depiction ?image .
  ?image a foaf:Image .
}

image
https://upload.wikimedia.org/wikipedia/commons/3/39/Arabidopsis.jpg
https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Arabidopsis_thaliana_inflorescencias.jpg/800px-Arabidopsis_thaliana_inflorescencias.jpg

Q4

In [2]:
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> 
PREFIX up:<http://purl.uniprot.org/core/>
PREFIX uniprotkb:<http://purl.uniprot.org/uniprot/>
PREFIX skos:<http://www.w3.org/2004/02/skos/core#> 

SELECT  ?activity
WHERE
{
	uniprotkb:Q9SZZ8 up:enzyme ?enzyme .
	?enzyme up:activity ?a .
	?a rdfs:label ?activity.
}

activity
Beta-carotene + 4 reduced ferredoxin [iron-sulfur] cluster + 2 H(+) + 2 O(2) = zeaxanthin + 4 oxidized ferredoxin [iron-sulfur] cluster + 2 H(2)O.

Q5

In [ ]:
PREFIX up:<http://purl.uniprot.org/core/> 
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

SELECT distinct ?id ?date 
WHERE
{
	?protein a up:Protein . 
	?protein up:created ?date .
	BIND (SUBSTR(STR(?protein),33) AS ?id)
	FILTER (?date >= '2021-01-01'^^xsd:date)
}

Q6

In [3]:
PREFIX up:<http://purl.uniprot.org/core/> 
 
SELECT (COUNT (DISTINCT ?species) AS ?spec_count)
WHERE
{
	?species a up:Taxon .
	?species up:rank up:Species .
}

spec_count
2029846

In [ ]:
Q7

In [4]:
PREFIX up:<http://purl.uniprot.org/core/> 

SELECT (COUNT(DISTINCT ?species) AS ?spec_count)
WHERE 
{
	?protein a up:Protein .
	?protein up:organism ?species .
	?species a up:Taxon .
	?species up:rank up:Species .
}

spec_count
1057158

Q8

In [9]:
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX up: <http://purl.uniprot.org/core/>
PREFIX taxon: <http://purl.uniprot.org/taxonomy/>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

SELECT ?locus ?name
WHERE
{
	?protein a up:Protein .
	?protein up:organism taxon:3702 . 
	?protein up:encodedBy ?gene .
	?protein up:annotation ?annot.
    
	?gene a up:Gene .
	?gene up:locusName ?locus .
    ?gene skos:prefLabel ?name .

    
	?annot a up:Function_Annotation .
	?annot rdfs:comment ?function .
	FILTER REGEX (?function, "pattern formation","i") . 
    
    }

#https://sparql.uniprot.org/.well-known/sparql-examples/

In [3]:
%endpoint https://rdf.metanetx.org/sparql

Endpoint set to: https://rdf.metanetx.org/sparql

Q9

In [4]:
PREFIX mnx: <https://rdf.metanetx.org/schema/>
PREFIX uniprotkb: <http://purl.uniprot.org/uniprot/>

SELECT distinct ?mnx
WHERE{
    ?pept mnx:peptXref uniprotkb:Q18A79 .
    ?cata mnx:pept ?pept .
    ?gpr mnx:cata ?cata .
    ?gpr mnx:reac ?r .
    ?r rdfs:label ?mnx .

}

mnx
mnxr165934
mnxr145046c3

Q10

In [5]:
PREFIX mnx: <https://rdf.metanetx.org/schema/>
PREFIX up: <http://purl.uniprot.org/core/>
PREFIX taxon: <http://purl.uniprot.org/taxonomy/>

SELECT distinct ?mne ?mnx
WHERE
{
  service <http://sparql.uniprot.org/sparql> {
	?protein a up:Protein .
   	?protein up:organism taxon:272563 .
  	?protein up:mnemonic ?mne .
 	?protein up:classifiedWith ?goTerm .
	?goTerm rdfs:label ?activity .
    filter contains(?activity, "starch synthase")
        bind (IRI(CONCAT("http://purl.uniprot.org/uniprot/",substr(str(?protein),33))) as ?proteinr)
  }
  service <https://rdf.metanetx.org/sparql> {
    ?pept mnx:peptXref ?proteinr .
    ?cata mnx:pept ?pept .
    ?gpr mnx:cata ?cata .
    ?gpr mnx:reac ?r .
    ?r rdfs:label ?mnx .
  }
}

#https://docs.data.world/tutorials/sparql/Introduction_to_Data_Munging.html
#https://docplayer.net/54799377-Uniprot-sparql-a-small-tutorial.html

mne,mnx
GLGA_CLOD6,mnxr165934
GLGA_CLOD6,mnxr145046c3